* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(images/background-home-screen-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    position: relative;
    margin: 0;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    z-index: -1;
}

header {
    display: flex;
    padding: 25px 50px 0 80px;
    justify-content: space-between;
}

.travel-co-logo {
    width: 60px;
}

.login-bar {
    display: flex;
}

li {    
    margin-left: 40px;
    list-style-type: none; 

}

.link-text {
    font-size: 12px;

}

h1 { grid-area: h1; }
p { grid-area: p; }
.buttons { grid-area: buttons; }
.video-link { grid-area: video-link; }
.arrows { grid-area: arrows; }

section {
    display: grid;
    grid-template-areas: 
    'h1 video-link'
    'h1 p'
    'buttons arrows';
    align-items: center;
    padding-left: 170px; 
    width: 80%;
    float: left;
}

h1 {
    font-size: 81px;
    margin: 80px 0 60px 0;
    width: 60vh;
}

.watch-reel {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: bolder;
}

.video-button {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #E33323;
    padding: 10px;
}

.video-button::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 10px solid #E33323;
    border-bottom: 8px solid transparent;
    left: 15px;
}

.arrows a {
    padding: 10px;
    border-radius: 50%;
    background-color: #E33323;
    margin-right: 16px;
}

.arrows img {
    width: 15px;
}

p {
    font-size: 18px;
}

.buttons .btn {
    background-color: #E33323;
    border: none;
    border-radius: 0;
    font-size: 12px;
    padding: 15px 45px;
}

.buttons .clear {
    background: transparent;
}

a.video-link {
    font-size: 13px;
    list-style-type: none;
}

a {
    text-decoration: none;
}

aside {
    float: right;
    height: 80%;
    display: flex;
    align-items: center;
}

aside ul li {
    list-style-type: none;;
    padding: 25px 40px;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 50px 20px 80px;
}

footer ul {
    display: flex;
}

.dots {
    display: flex;
    align-items: flex-end;
}

.dot {
    height: 7px;
    width: 7px;
    background-color: #FFF;
    opacity: 0.4;
    border-radius: 50%;
    margin: 15px 5px;
}

.white-dot {
    opacity: 1;
}

.nav-bar {
    display: flex;
    align-items: center;
}

th {
    font-size: 12px;
    font-weight: normal;
    padding-left: 60px;
    padding-bottom: 20px;
}

td {
    font-size: 42px;
    font-weight: bolder;
    padding-left: 60px;
}